In [2]:
#import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [3]:
#Extract the csv. Data

In [4]:
maternal_mortality_df = pd.read_csv('VSRR_Provisional_Maternal_Death_Counts_and_Rates.csv')
maternal_mortality_df.head()

,Data As Of,Jurisdiction,Group,Subgroup,Year of Death,Month of Death,Time Period,Month Ending Date,Maternal Deaths,Live Births,Maternal Mortality Rate,Footnote
0,4/14/2024,United States,Total,Total,2019,1,12 month-ending,1/31/2019,660,"3,787,776",17.4,NaN
1,4/14/2024,United States,Total,Total,2019,2,12 month-ending,2/28/2019,653,"3,783,489",17.3,NaN
2,4/14/2024,United States,Total,Total,2019,3,12 month-ending,3/31/2019,657,"3,771,682",17.4,NaN
3,4/14/2024,United States,Total,Total,2019,4,12 month-ending,4/30/2019,668,"3,772,235",17.7,NaN
4,4/14/2024,United States,Total,Total,2019,5,12 month-ending,5/31/2019,706,"3,767,999",18.7,NaN

In [5]:
#look at brief summary of maternal_mortality DataFrame.
maternal_mortality_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data As Of               600 non-null    object
 1   Jurisdiction             600 non-null    object
 2   Group                    600 non-null    object
 3   Subgroup                 600 non-null    object
 4   Year of Death            600 non-null    int64
 5   Month of Death           600 non-null    int64
 6   Time Period              600 non-null    object
 7   Month Ending Date        600 non-null    object
 8   Maternal Deaths          533 non-null    object
 9   Live Births              600 non-null    object
 10  Maternal Mortality Rate  494 non-null    float64
 11  Footnote                 106 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 56.4+ KB